<!DOCTYPE html>
<html ng-app="primeApp">
<head>
	<title>prime</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="script/app.js"></script>

</head>
<body>
<div ng-controller="primeCtrl">
<h3><br>AngularJs prime </h3></br>
Enter number:<input type="number" ng-model="num" />
<button class="btn-primary" type="submit"  ng-click="prime(num)">click</button>
<div ng-repeat=" output in result track by $index"> {{output}}</div>
<!--<br/><h4/>{{ num }} -->


</body>
</html>